
body {
    overflow: hidden;
}

.main_body {
    display: flex;
}


#container {
    display: flex;
    justify-content: center;
    align-items: end;
}

.money_style {
    font-size: xxx-large;
    transform: translateX(1vw);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: red;
    color: black;
    height: 30vh;
    line-height: 6vh;
    text-align: center;
    margin: 1vh;
    cursor: pointer;
    user-select: none;
    border-radius: 1vw;
    font-family: Arial, sans-serif;
    font-size: xx-large;
}

.r1_button {
    background-color: rgb(255, 168, 181);
}

.r2_button {
    background-color: rgb(162, 162, 162);
}

#submit_button {
    background-color: green;
    color: white;
}

#reset_button {
    background-color: orange;
    height: 20vh;
}

.fill_wide {
    flex-grow: 1;
}

#clickable_area {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.stat_style {
    transform: translateX(1vw);
    font-size: x-large;
}
