
body {
    overflow: hidden;
}

.main_body_normal {
    display: grid;
    grid-template-areas: 
    "r16 r19 r1stat reset"
    "r26 r29 r2stat total"
    "blackout dauber other_sales checkout"
    ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.main_body_negative {
    display: grid;
    grid-template-areas: 
    "r16 r19 r1stat reset"
    "r26 r29 r2stat total"
    "blackout dauber other_sales checkout"
    ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #ce6e6e;
}

.control_buttons {
    display: flex;
    flex-direction: row-reverse;
}

#container {
    display: flex;
    justify-content: center;
    align-items: end;
}

.money_style {
    font-size: xxx-large;
    transform: translateX(1vw);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: red;
    color: black;
    height: 30vh;
    line-height: 6vh;
    text-align: center;
    margin: 1vh;
    cursor: pointer;
    user-select: none;
    border-radius: 1vw;
    font-family: Arial, sans-serif;
    font-size: xx-large;
}

.r1_button {
    background-color: rgb(255, 168, 181);
}

.r2_button {
    background-color: rgb(162, 162, 162);
}

.submit_button {
    background-color: green;
    color: white;
}

.reset_button {
    background-color: orange;
    height: 20vh;
}

.blackout_button {
    background-color: lightblue;
}

.dauber_button {
    background-color: lightblue;
}

.fill_wide {
    flex-grow: 1;
}

.stat_style {
    transform: translateX(1vw);
    font-size: x-large;
}
