.clicked_button {
    background-color: green;
    color: white;
}


.unclicked_button {
    background-color: red;
    color: black;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.reset_area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#money_text {
    margin-right: 20px;
}

.button {
    flex-grow: 1;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#submit_button {
    background-color: blue;
    color: white;
}

#reset_button {
    background-color: orange;
    color: white;
 
}

.fill_wide {
    flex-grow: 1;
}


