
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.reset_area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#money_text {
    margin-right: 20px;
    font-size: x-large;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: red;
    color: black;
    height: 30vh;
    line-height: 50px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: x-large;
}

#submit_button {
    background-color: blue;
    color: white;
}

#reset_button {
    background-color: orange;
    height: 20vh;
}

.fill_wide {
    flex-grow: 1;
}


